<section id="feature">
    <div class="container">
        <div class="center">
    <table style="width:100%">
        <tbody><tr>
            <td style="width:20%">
                <img src="../assets/img/cocktail_right.png" alt="Coctel de naranja"></td>
                <td><h1>Bienvenido a Cocteles R&C</h1>
                    Una base de datos abierta y de fuentes múltiples de bebidas y cócteles de todo el mundo.<br>
                <!-- We also offer a <a href="/api.php">free JSON API</a> for anyone wanting to use it.<br> -->
                <!-- If you like the site, please consider supporting us on Patreon by clicking the link below...<br> -->
                <!-- <a href="https://www.patreon.com/thedatadb"><img src="/images/patreon_logo.png" style="width:200px;"><br>

                Click to Support: Currently 359 supporters</a><br><br> -->
                <hr>
                </td>
            <td style="width:20%"><img src="../assets/img/cocktail_right.png" alt="Pitch Right"></td>
        </tr>
    </tbody></table>
    
    <img src="../assets/img/separator.jpg" style="width: 100%; object-fit: contain"><br>
    
        <table width="350" align="center">
            <tbody><tr>
                <td>
                    <form class="navbar-form" action="../browse.php" autocomplete="off">
                        <div class="input-group">
                        <input type="text" name="s" class="form-control" autocomplete="off" placeholder="Busca por Cocteles...">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody></table>
        <img src="../assets/img/cocktail-logo.png"> <b>Total Drinks: </b> 635<img src="images/transparent.png" width="10" height="1"><img src="../assets/img/ingredient-logo.png"> <b>Total Ingredients: </b>489<img src="images/transparent.png" width="10" height="1"><img src="../assets/img/image2.png"> <b>Drink Images: </b>635(92cc)	
        </div>	
        <img src="../assets/img/separator.jpg" style="width: 100%; object-fit: contain"><br>

        </div>
</section>
