<div class="text-center">
    <h1 class="text-success">LOS 10 DIGIMONES MAS PODEROSOS</h1>
</div>

<table class="table table-dark">
    <thead>
        
      <tr>
        <th scope="col">#</th>
        <th scope="col">Digimon</th>
        <th scope="col">Nivel</th>
        <th scope="col">Poder</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Agumon</td>
        <td>Superior</td>
        <td>WarGreymon</td>
        <td>Alta</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Guilmon</td>
        <td>Dragón</td>
        <td>Gallantmon</td>
        <td>Alta</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Impmon</td>
        <td>Nivel Medio</td>
        <td>armas de fuego</td>
        <td>Medio</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Shoutmon</td>
        <td>Dragón</td>
        <td>ataques con su espada</td>
        <td>Baja</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Gabumon</td>
        <td>Destructivo</td>
        <td>volar y lanzar Misiles</td>
        <td>Alta</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Terriermon </td>
        <td>Dragón</td>
        <td>toda clase de bombas</td>
        <td>Alta</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Patamon</td>
        <td>Apocalypmon</td>
        <td>Ser celestial</td>
        <td>Medio</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Renamon</td>
        <td>Sakuyamon</td>
        <td>peleas cuerpo a cuerpo</td>
        <td>Medio</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>V-mon</td>
        <td>impulsivo</td>
        <td>poderoso Paildramon</td>
        <td>Baja</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Wormmon</td>
        <td>Stingmon</td>
        <td>veloz que puede volar</td>
        <td>Baja</td>
      </tr>
    </tbody>
  </table>
